
.img-gray{
  -webkit-filter: grayscale(80%); /* Safari 6.0 - 9.0 */
  filter: grayscale(80%);
}

.img-logo{
  width: auto;
  height: 90px;
  margin: 20px 25px;
}

.fork {
  position: fixed;
  top: 0;
  right: 0;
  width: 150px;
}
